*/.idea/
*/__pycache__
judgments/data/*
*.pyc
.idea
*.npz
.ipynb_checkpoints
*.npy
*sandbox.py
*.ipynb
result.png
embeddings/embeddings_config.json
*.ckpt.*
*checkpoint
judgments/test_data/*
*.gv
*.gv.pdf
