SPARQLWrapper
Cython
numpy
pandas; python_version >= '3.5'
pandas<0.21; python_version == '3.4'
scipy
scikit-learn
nltk
Flask
flask_restful
flask-restplus
python-docx
Flask-Testing
timeout-decorator
gensim
dask[dataframe]
dask[distributed]
imgkit
matplotlib