
#wrapper {
  text-align: center;
}
#app_form {
  display: inline-block;
}

.header, .footer {
    height: 100px
}

textarea {
  width: 600px;
  height: 400px;
}

#error_output {
    background-color: red;
}