<div id="summary">
  {% for fn in data.filenames %}
    <div class="file">
        <div class="column left_column">
            <h2>{{ fn }}</h2>
        </div>
        <div class="column middle_column">
          {% for title in data[fn].titles %}
            <h2>{{ title }}</h2>
            <p>{{ data[fn][title].summary }}</p>
          {% endfor %}
        </div>
        <div class="column right_column">
            <h3> Henkilöt </h3>
            <ul>
            {% for name in data[fn].extracted_names %}
                <li><p>{{ name }}</p></li>
            {% endfor %}
            </ul>
        </div>
      </div>
    {% endfor %}
</div>